body{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.psdgraphics.com%2Ffile%2Fcasino-symbols-pattern.jpg&f=1&nofb=1&ipt=9b7eb0ca01310eb24706ac166c0dd6a312eb378cbafbc7fd403e10823ea2f8ae&ipo=images");
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 325px 1fr 375px 20px 175px;
    margin: 0;
}

.dealer{
    display: flex;
    margin: auto;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
}
.chips{
    padding-left: 20px;
    grid-row: span 4;
    color:white;
    background-color: black;
    filter:opacity(50%);
}

.player{
    display: flex;
    margin: auto;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
}

.player-card-1{
    outline:dashed black;
    height: 175px;
    width: 125px;
}

.player-card-2{
    outline:dashed black;
    height: 175px;
    width: 125px;
}

.hit-stand{
    display: flex;
    justify-content: center;
    align-items: center;
}

.you-win{
    background-color: rgb(0, 93, 0);
    filter:opacity(50%);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}
.hit{
    margin-right: 450px;
    font-size:35px;
    display: flex;
    padding: 0px 20px 0px 20px;

}
.stand{
    font-size:35px;
    display: flex;
    padding: 0px 20px 0px 20px
}
img{
    height: 175px;
    width: 125px;
}
.dealer-sum{
    color:white;
}
