body{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.psdgraphics.com%2Ffile%2Fcasino-symbols-pattern.jpg&f=1&nofb=1&ipt=9b7eb0ca01310eb24706ac166c0dd6a312eb378cbafbc7fd403e10823ea2f8ae&ipo=images");
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
    display: grid;
    grid-template-columns:6fr 1fr;
    grid-template-rows: 300px 1fr 400px 175px;
    margin: 0;
}
#return-link{
display: inline;
}
#play-again{
    cursor:pointer;
}
.dealer{
    display: flex;
    margin: auto;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
}
.chips{
    display: flex;
    margin-left: 75px;
}
.chips-section{
    grid-row: span 3;
    color:white;
    background-color: rgb(0, 0, 0,.5);
    filter:opacity(100%);
    justify-content: center;
    align-items: center;
}
.deal{
    margin: 75px 0px 0px 100px;
    font-size:35px;
    background-color: white;
    cursor:pointer;
}
.chip-img{
    border-radius: 130px;
    margin-bottom: -44px;
    margin-left: 15px;
    height: 115px;
    width: 115px;
    cursor:pointer;
}
#amount-display{
    display: flex;
    margin-left: 75px;
}

.player{
    display: flex;
    margin: auto;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
}

/* .player-card-1{
    outline:dashed black;
    height: 175px;
    width: 125px;


.player-card-2{
    outline:dashed black;
    height: 175px;
    width: 125px;
} */

.you-win{
    background-color: rgb(0, 93, 0,.5);
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}

.hit-stand{
    padding-left: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hit{
    font-size:35px;
    display: flex;
    padding: 0px 50px 0px 50px;
    cursor:pointer;

}
.stand{
    font-size:35px;
    display: flex;
    padding: 0px 50px 0px 50px;
    cursor:pointer;
}
img{
    border-radius: 10px;
    height: 175px;
    width: 125px;
}
score{
    padding-right: 50px;
    color:white;
    display:block;
    grid-template-columns: span 2;
}
h2{
    color:white;
}
